
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compugraf</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/Base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Teste da Compugraf", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Teste Compugraf</p>
        </footer>
    </div>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/plugins/jquery.mask.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/fastclick.js"></script>
    <script src="~/scripts/adminlte.min.js"></script>
    <script src="~/scripts/jquery.sparkline.min.js"></script>
    <script src="~/plugins/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/sweetalert2.all.min.js"></script>
    <script src="~/scripts/Base.js"></script>
</body>
</html>