
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">

    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Contato</li>
    </ol>
</section>
<section class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
           
                <div class="agenda-block-panel col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <a href="/Contato/Cadastrar">
                        <h2>
                            Cadastrar
                        </h2>
                        <h1>
                            <i class="fa fa-file-text"></i>
                        </h1>
                        <p class="panel-item-description">
                            Cadastre um Contato
                        </p>
                    </a>
                </div>
                <div class="agenda-block-panel col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <a href="/Contato/Consultar">
                        <h2>
                            Pesquisar
                        </h2>
                        <h1>
                            <i class="fa fa-search"></i>
                        </h1>
                        <p class="panel-item-description">
                            Consulte Contatos
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

